<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{{body}}}

    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui.js"></script>
    <script type="text/javascript" src="javascripts/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
</body>

</html>
